# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
tfplan
override.tf
override.tf.json

# Build artifacts
dist/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.eggs/
*.egg-info/

# Environment
.env

# OS
.DS_Store
Thumbs.db
